html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.bg-black {
  background-color: #000000;
}

.border-black {
  border-color: #000000 !important;
}

.btn-black {
  background-color: #000000 !important;
  transition: all 0.3s ease;
}
.btn-black:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-black:not(:disabled):focus {
  background-color: black !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-black:not(:disabled):hover {
  background-color: black !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn-border-black {
  border: 2px solid #000000 !important;
  transition: all 0.3s ease;
}
.btn-border-black:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-border-black:not(:disabled):focus {
  background-color: black !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-border-black:not(:disabled):hover {
  background-color: black !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.text-black {
  color: #000000 !important;
}

.bg-green {
  background-color: #0ca144;
}

.border-green {
  border-color: #0ca144 !important;
}

.btn-green {
  background-color: #0ca144 !important;
  transition: all 0.3s ease;
}
.btn-green:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-green:not(:disabled):focus {
  background-color: #032a12 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-green:not(:disabled):hover {
  background-color: #05421c !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn-border-green {
  border: 2px solid #0ca144 !important;
  transition: all 0.3s ease;
}
.btn-border-green:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-border-green:not(:disabled):focus {
  background-color: #032a12 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-border-green:not(:disabled):hover {
  background-color: #05421c !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.text-green {
  color: #0ca144 !important;
}

.bg-pink {
  background-color: #ff0eee;
}

.border-pink {
  border-color: #ff0eee !important;
}

.btn-pink {
  background-color: #ff0eee !important;
  transition: all 0.3s ease;
}
.btn-pink:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-pink:not(:disabled):focus {
  background-color: #8e0084 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-pink:not(:disabled):hover {
  background-color: #a7009b !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn-border-pink {
  border: 2px solid #ff0eee !important;
  transition: all 0.3s ease;
}
.btn-border-pink:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-border-pink:not(:disabled):focus {
  background-color: #8e0084 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-border-pink:not(:disabled):hover {
  background-color: #a7009b !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.text-pink {
  color: #ff0eee !important;
}

.bg-purple {
  background-color: #6a00f3;
}

.border-purple {
  border-color: #6a00f3 !important;
}

.btn-purple {
  background-color: #6a00f3 !important;
  transition: all 0.3s ease;
}
.btn-purple:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-purple:not(:disabled):focus {
  background-color: #320074 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-purple:not(:disabled):hover {
  background-color: #3e008d !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn-border-purple {
  border: 2px solid #6a00f3 !important;
  transition: all 0.3s ease;
}
.btn-border-purple:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-border-purple:not(:disabled):focus {
  background-color: #320074 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-border-purple:not(:disabled):hover {
  background-color: #3e008d !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.text-purple {
  color: #6a00f3 !important;
}

.bg-purple-dark {
  background-color: #5400c2;
}

.border-purple-dark {
  border-color: #5400c2 !important;
}

.btn-purple-dark {
  background-color: #5400c2 !important;
  transition: all 0.3s ease;
}
.btn-purple-dark:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-purple-dark:not(:disabled):focus {
  background-color: #1d0043 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-purple-dark:not(:disabled):hover {
  background-color: #28005c !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn-border-purple-dark {
  border: 2px solid #5400c2 !important;
  transition: all 0.3s ease;
}
.btn-border-purple-dark:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-border-purple-dark:not(:disabled):focus {
  background-color: #1d0043 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-border-purple-dark:not(:disabled):hover {
  background-color: #28005c !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.text-purple-dark {
  color: #5400c2 !important;
}

.bg-water-green {
  background-color: #01d1fd;
}

.border-water-green {
  border-color: #01d1fd !important;
}

.btn-water-green {
  background-color: #01d1fd !important;
  transition: all 0.3s ease;
}
.btn-water-green:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-water-green:not(:disabled):focus {
  background-color: #00687e !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-water-green:not(:disabled):hover {
  background-color: #017d97 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn-border-water-green {
  border: 2px solid #01d1fd !important;
  transition: all 0.3s ease;
}
.btn-border-water-green:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-border-water-green:not(:disabled):focus {
  background-color: #00687e !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-border-water-green:not(:disabled):hover {
  background-color: #017d97 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.text-water-green {
  color: #01d1fd !important;
}

.bg-whiteOpacity2 {
  background-color: #050505;
}

.border-whiteOpacity2 {
  border-color: #050505 !important;
}

.btn-whiteOpacity2 {
  background-color: #050505 !important;
  transition: all 0.3s ease;
}
.btn-whiteOpacity2:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-whiteOpacity2:not(:disabled):focus {
  background-color: black !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-whiteOpacity2:not(:disabled):hover {
  background-color: black !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn-border-whiteOpacity2 {
  border: 2px solid #050505 !important;
  transition: all 0.3s ease;
}
.btn-border-whiteOpacity2:disabled {
  cursor: default;
  opacity: 0.7;
}
.btn-border-whiteOpacity2:not(:disabled):focus {
  background-color: black !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  outline: none;
}
.btn-border-whiteOpacity2:not(:disabled):hover {
  background-color: black !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.text-whiteOpacity2 {
  color: #050505 !important;
}

html,
body,
div {
  font-family: "Urbanist", sans-serif;
}

.container {
  width: 98% !important;
}
@media (max-width: 575px) {
  .container {
    width: 90% !important;
  }
}

input,
select,
textarea {
  background: #050505 !important;
  border: 1px solid rgba(255, 255, 255, 0.16) !important;
  color: #fff !important;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

select {
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'><path d='M4.646 6.646a.5.5 0 0 1 .708 0L8 9.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z'/></svg>") !important;
  background-repeat: no-repeat !important;
  background-position: right 1rem center !important;
}

body {
  background-image: url("/images/home/bg.png");
  background-repeat: no-repeat;
  background-size: contain !important;
}
@media (max-width: 991px) {
  body {
    background-size: 156% auto !important;
    background-position: right top;
  }
}

/* Header */
.border-bottom-whiteOpacity16 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

@media (min-width: 991px) {
  header ul {
    background: #050505;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 30px;
    gap: 0.25rem;
    padding: 4px 24px !important;
  }
}

/* Footer */
footer {
  background: #050505;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}
footer .border-top {
  border-color: rgba(255, 255, 255, 0.16) !important;
}
footer .a-social-medias {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
  height: 40px;
  width: 40px;
}

/* Home */
.box-transparent {
  background: #050505;
  border: 1px solid rgba(255, 255, 255, 0.16);
}
.box-transparent span {
  align-items: flex-end;
  display: flex;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.48);
  width: 16px;
}

.box-projects span.bg-purple {
  height: 32px;
}
.box-projects span.bg-water-green {
  height: 56px;
}

.box-image img {
  border: 3px solid #fff !important;
  border-radius: 50% !important;
}

.box-images img {
  height: 64px;
  width: 64px;
}

.dot {
  display: inline-block;
  box-sizing: border-box;
  min-height: 12px;
  min-width: 12px;
  height: 12px;
  width: 12px;
}

#ul-sales li {
  background: rgba(0, 0, 0, 0.1882352941);
}

#box-call-to-action {
  background-image: url(/images/home/polygon.png);
  background-repeat: no-repeat;
  background-size: 100% auto !important;
  background-position: 360px center;
}
@media (max-width: 991px) {
  #box-call-to-action {
    background-size: 156% auto !important;
    background-position: 198px top;
  }
}

#whatsapp-popup {
  position: fixed !important;
  bottom: 88px;
  right: 24px;
  width: 340px;
  z-index: 999;
  animation: fadeInUp 0.3s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=legallyDesigners.css.map */